.navbar {
  max-height: 8vh;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.4rem 2.5rem;
  background-color: #080426;
  color: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #4a4f92;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #08042664;
  backdrop-filter: blur(40px);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: auto; */
}

.navLink {
  margin: 0 15px;
  color: #d4d7ff;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  max-width: 180px;
  padding: 0.5rem;
  margin: 0;
}

.hamburger {
  display: none;
  background: transparent;
  border: 0;
  margin: auto 0;
  padding-right: 1.2rem;
}

.bar {
  border-radius: 20px;
  display: block;
  width: 35px;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d4d7ff;
}

.small {
  /* max-width: 30px; */
  font-size: 10px;
  /* padding-right: 10rem; */
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  /* margin: 5px 0; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:  1px solid #4a4f92;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0.4rem 0.5rem;
    justify-content: space-between;

    background-color: #08042664;
    backdrop-filter: blur(40px);
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 4.2rem;
    flex-direction: column;
    background-color: inherit;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #080426ed;
    backdrop-filter: blur(60px);
  }

  .navLink {
    margin: 20px 0;
  }

  .navmenu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
