html,
body {
  padding: 0;
  margin: 0;
  background-color: #080426;
  color: #e5fcff;
  /* color: #d4d7ff; */
  /* background-color: #000; */
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
