.container {
  padding: 0 2rem;
}

.main {
  min-height: 92vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  /* max-width: 800px; */
  object-fit: cover;
  inset: 0;
}
